/* Classes */

.calculatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    width: 240px;
    background-color: #D4F4EC;
}

.displayContainer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin: 20px 0 0 0;
    background-color: white;
}

.displayContainer div {
    padding-right: 10px;
    height: 50%;
    display: flex;
    align-items: center;
}

.clearButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px
}

.clearButtonContainer button {
    width: 100px;
    height: 50px;
}

.mathButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 240px;
    margin: 20px 0px;
}

.mathButtonContainer button{
    width: 50px;
    height: 50px;
}

/* ID */

#clearButton, #backspaceButton {
    background-color: #FFD8C5;
}

#numberButton, #dotButton {
    background-color: #70D0C6;
}

#operatorButton, #equalsButton {
    background-color: #FEA889;
}